article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

body {
  background: #73BFB8;
  color: #011627;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif; }

.submit, .submit:active, .submit:focus {
  outline: none; }

button:focus {
  outline: 0; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

#chart {
  margin: 5%;
  z-index: 999; }

.chartWrapper {
  background: url("http://cdn.printablepaper.net/samples/grid-portrait-ledger-2-index.png");
  border: 5px rgba(1, 1, 1, 0.7);
  clear: both;
  z-index: 1;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2); }

a {
  text-decoration: none;
  color: inherit; }

#map {
  height: 65vh;
  width: 65%;
  margin-bottom: 90px;
  float: right;
  border: 8px solid white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2); }

h1 {
  text-align: center;
  color: #E71D36;
  font-family: 'Sigmar One', sans-serif;
  margin-bottom: 50px;
  text-shadow: 2px 2px #444; }

span {
  background: rgba(254, 198, 1, 0.5);
  padding-left: 6px;
  padding-right: 7px; }

.bold {
  font-weight: 700;
  padding: 0;
  background: none; }

select {
  display: block;
  margin: 0 auto; }

.intro {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;
  float: left;
  font-size: 14px; }

.legend {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold; }

label {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px; }

input[type=radio] {
  display: none; }

label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 4px;
  background-color: white;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8); }

input[type=radio]:checked + label:before {
  content: "\2022";
  color: black;
  font-size: 15px;
  text-align: center;
  line-height: 11px; }

footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  line-height: 0.7;
  font-size: 12px; }
  footer a {
    background: rgba(254, 198, 1, 0.5);
    padding-left: 6px;
    padding-right: 7px;
    transition: background 1s; }
    footer a:hover {
      background: #E71D36; }

.c3-tooltip-container {
  background: rgba(220, 220, 220, 0.8);
  padding: 10px;
  border-radius: 2px; }

.c3-legend-item {
  display: none; }

.c3-axis-y-label, .c3-axis-x-label {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; }

button {
  display: block;
  margin: 0 auto;
  background-color: #E71D36;
  border: 2px solid black;
  padding: 8px;
  transition: 0.5s; }
  button:hover {
    background: rgba(254, 198, 1, 0.5); }

.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0); } }

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0); } }

.shake {
  -webkit-animation-name: shake;
  animation-name: shake; }
