@import "setup";

body {
	background: #73BFB8;
  color: #011627;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.submit, .submit:active, .submit:focus {
	outline: none;
}

button:focus {outline:0;}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

#chart {
	margin: 5%;	
  z-index: 999;
}

.chartWrapper {
  background: url("http://cdn.printablepaper.net/samples/grid-portrait-ledger-2-index.png");
  border: 5px rgba(1,1,1, 0.7);
  clear: both;
  z-index: 1;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: inherit;
}

#map { 
  	  height: 65vh;
      width: 65%;
      margin-bottom: 90px;
      float: right;
      border: 8px solid white;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  }

 h1 {
 	text-align: center;
 	color: #E71D36;
 	font-family: 'Sigmar One', sans-serif;
 	margin-bottom: 50px;
  text-shadow: 2px 2px #444;
 } 

span {
  background: rgba(254, 198, 1, 0.5);
  padding-left: 6px;
  padding-right: 7px;
}

.bold {
  font-weight: 700;
  padding: 0;
  background: none;
}

select {
	display: block;
	margin: 0 auto;
}

.intro {
	width: 30%;
	display: block;
	margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;
  float: left;
  font-size: 14px;
}

.legend {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: bold;

}

label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 4px;
    background-color: #E71D36;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: black;
    font-size: 15px;
    text-align: center;
    line-height: 11px;
}


footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  line-height: 0.7;
  font-size: 12px;
  a {
    background: rgba(254, 198, 1, 0.5);
    padding-left: 6px;
    padding-right: 7px;
    transition: background 1s;
    &:hover{
    background: #E71D36; 
    }
  }
}

.c3-tooltip-container {
  background: rgba(220,220,220,0.8);
  padding: 10px;
  border-radius: 2px;
}

.c3-legend-item {
  display: none;
}

.c3-axis-y-label, .c3-axis-x-label {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

button {
  display: block;
  margin: 0 auto;
  background-color:  #E71D36;
  border: 2px solid black;
  padding: 8px;
  transition: 0.5s;
  &:hover {
  background: rgba(254, 198, 1, 0.5);
  }
}

//ANIMATION
.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
